@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
*::selection{

    color:rgb(46, 46, 46) ;
    background: rgb(224, 130, 86) ;

}

/* fotter */
footer{
    margin-top: -1px;
    display: grid;
    background: rgb(26, 26, 26);
    color: #fff;
    /* min-height: 200px; */
    place-items: center;
    z-index: 10;
}
body{
    /* background: #e2e2e2; */
    width: 100%;
    overflow-x: hidden;
    /* background: #333; */

}

.main_container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,70px) 1fr minmax(200px,300px);
}
.nav{
    /* background: #f1f1f1; */
    display: grid;
    grid-template-columns: minmax(30px ,40px);
    align-content: center;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding-left: 10px;
    height: 70px;
    background: #333;
    z-index: 20;
    /* box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.144); */
}
.open{
    margin-left: 15px;
    max-width: 60px;
}
.open > svg 
{
    max-width: 60px;
    fill: rgb(192, 192, 192);
    cursor: pointer;
}

.side_slide_nav{
    transition: 0.5s all;
    height: 100%;
    width: 400px;
    background: #333;
    position: fixed;
    top: 70px;
    left: -450px;
    overflow: hidden;
    z-index: 11;
}
.side_slide_nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
} 

.side_slide_nav > ul > a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:#fff;
    margin-top: 10px;
    background: #383737;
}
.side_slide_nav > ul > a >li > i{
    max-height: 30px;
    width: 30px;
    
}
.side_slide_nav > ul > a > li{
    font-size: 1.3em;
    margin-left:  10px;
    height: 50px;
    line-height: 50px;
}
.shop h3{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    width: 100%;
}
.side_slide_nav > ul > a:nth-of-type(1) ,.side_slide_nav > ul > a:nth-of-type(4) ,.side_slide_nav > ul > a:nth-of-type(3) , .side_slide_nav > ul > a:nth-of-type(2) {
margin-left: 50px;
color: #cecece;
display: none;
}
.active_nav_cat{
    background: rgb(224, 130, 86) !important;
    color: #fff !important;
}
.rightnav{
    position: fixed;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 30px;
    width: 300px;
    max-width: 750px;
    z-index: 40;
}
.rightnav  input {
    border: none;
    outline: none;
    padding: 7px 0px;
    padding-left: 20px;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #f1f1f1; 
}
.myOrder > a , .user_account > a , .search i{
    color: rgb(88, 88, 88);
}
.myOrder > a {
    margin-right: 20px;
}
.search > .search__con{
    background: #ff783ac2 ;
    position: relative;
    max-height: 40px !important;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
}
.search > .search__con > i{
    line-height: 40px;
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .rightnav {
        position: fixed;
        bottom: 0 !important;
        background: #333;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }


     .suggested__products__container{
         width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
       

}

/* products section. */

.product_laptop{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:1fr ;
    /* background: #717171; */
}

/* products section. */
/* del laptop style */



 .lpt1{
     margin-top: 100px;
     max-height: 100vh;
 }
/* del aptop end */

.Search_title_search{
    color:rgba(51, 51, 51, 0.78);
    margin-top: 100px;
    margin-left: 20px;
    text-transform: capitalize;
}
 