@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
*::selection{

    color:rgb(46, 46, 46) ;
    background: rgb(224, 130, 86) ;

}

/* fotter */
footer{
    margin-top: 50px;
    display: grid;
    background: #333;
    color: #fff;
    /* min-height: 200px; */
    place-items: center;
    z-index: 10;
}
body{
    /* background: #e2e2e2; */
    width: 100%;
    overflow-x: hidden;
    /* background: #333; */

}

.main_container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,70px) 1fr minmax(200px,300px);
}
.nav{
    /* background: #f1f1f1; */
    display: grid;
    grid-template-columns: minmax(30px ,40px);
    align-content: center;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding-left: 10px;
    height: 70px;
    background: #333;
    z-index: 20;
    /* box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.144); */
}
.open{
    margin-left: 15px;
    max-width: 60px;
}
.open > svg 
{
    max-width: 60px;
    fill: rgb(192, 192, 192);
    cursor: pointer;
}

.side_slide_nav{
    transition: 0.5s all;
    height: 100%;
    width: 400px;
    background: #333;
    position: fixed;
    top: 70px;
    left: -450px;
    overflow: hidden;
    z-index: 11;
}
.side_slide_nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
} 

.side_slide_nav > ul > a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:#fff;
    margin-top: 10px;
    background: #383737;
}
.side_slide_nav > ul > a >li > i{
    max-height: 30px;
    width: 30px;
    
}
.side_slide_nav > ul > a > li{
    font-size: 1.3em;
    margin-left:  10px;
    height: 50px;
    line-height: 50px;
}
.shop h3{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    width: 100%;
}
.side_slide_nav > ul > a:nth-of-type(1)  , .side_slide_nav > ul > a:nth-of-type(2) {
margin-left: 50px;
color: #cecece;
display: none;
}
.active_nav_cat{
    background: rgb(224, 130, 86) !important;
    color: #fff !important;
}
.rightnav{
    position: fixed;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 30px;
    width: 300px;
    max-width: 750px;
    z-index: 40;
}
.rightnav  input {
    border: none;
    outline: none;
    padding: 7px 0px;
    padding-left: 20px;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #f1f1f1; 
}
.myOrder > a , .user_account > a , .search i{
    color: rgb(88, 88, 88);
}
.myOrder > a {
    margin-right: 20px;
}
.search > .search__con{
    background: #ff783ac2 ;
    position: relative;
    max-height: 40px !important;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border-radius: 20px;
}
.search > .search__con > i{
    line-height: 40px;
    padding: 0px 10px;
    font-size: 25px;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .rightnav {
        position: fixed;
        bottom: 0 !important;
        background: #333;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }


     .suggested__products__container{
         width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
        .laptopContainer{
            width: 100%;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

}
.sectio_one_image_slider{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
   
}

.mySlides {
    display: none;
    height: auto;
 
     
}

  
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #e08256;
    text-transform: capitalize;
}
 

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}
.this_is_dot{
    margin-top: 30px;
}


/* products section. */

.product_laptop{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:1fr ;
    /* background: #717171; */
}

/* products section. */
/* del laptop style */
 .laptopContainer{
     /* background: #e2e2e2; */
     border-radius: 20px;
     padding: 20px;
     display: grid;
     grid-auto-rows: 1fr;
     -ms-grid-columns: (minmax(200px, 300px))[auto-fit];
     grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 20px;
    overflow: hidden;
    margin-top: 20px;
    width: 90%;
    grid-gap:40px ;
    /* grid-row-gap:20px ; */
    /* place-items: center ; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }
 .title{
     font-size: x-large;
     color: #333;
     text-align: center;
 }
 .container{
     min-width: 300px;
     max-width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #3837374f;
     display: block;
     background: rgb(255, 255, 255);
     transition:0.5s all;
     padding: 10px;
     z-index: 10;
     margin: 0 auto;
 } 
 .laptopContainer .container:hover{
     box-shadow: 0px 0px 20px #383737a2;
 }
 .laptopContainer .container> img{
     max-width:300px;
     min-width: 200px;

    }

 .btm{ 
     padding: 10px 20px;
     text-transform: capitalize;
     display: flex;
    flex-direction: column;
    }

 .btm > .heading
{
    cursor: pointer;
    color: #333;
    font-weight: bolder;
    font-size: 20px;
}
 
.btm > .heading:hover{
    color: rgb(22, 22, 22);

}
small{
    font-size: 1.1em;
    color: rgb(0, 81, 255);
}
.high_price{
    font-size: 1.1em;
    color: rgb(255, 125, 125);
    position: relative;
}
.high_price::after{
    content:'';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-7deg);
    height: 1px;
    width: 40%;
    background:rgb(255, 125, 125) ;
    padding-right: 30px;
}

.btm .btn_add_cart{
    background: #e08256;
    color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}
 .lpt1{
     margin-top: 100px;
 }
/* del aptop end */

.Search_title_search{
    color:rgba(51, 51, 51, 0.78);
    margin-top: 100px;
    margin-left: 20px;
    text-transform: capitalize;
}

 