*{
    margin: 0;
    padding: 0;
}
.container_user_page{
    width: 100vw;
    /* backgroudn */
    margin-top: 70px;
    border-bottom: 1px solid #a1a1a181;
}
.user_priv_details{
    min-height: 30%;
    position: relative;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login , #logout{
    padding: 10px 30px;
    background: #333;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    max-height: 50px;
    cursor: pointer;
    /* float: right; */
    /* margin-right: 20px; */
}

.logo{
    height: 150px;
    width: 150px;
    background: rgba(51, 51, 51, 0.753);
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 150px;
    color: #fff;
    font-size: 2em;
    overflow: hidden;
}
.userName{
    font-size: 1.5em;
    margin-top: 10px;
    text-transform: capitalize;
    /* font-weight: bolder; */
    color: rgba(51, 51, 51, 0.835);
}
.logo_name_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user_detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 320px;
    max-width: 1000px;
    grid-template-rows: 1fr;
    min-height: 50px;
    max-height: 50px;
    place-items: center;
    margin: 0 auto;
    text-transform: capitalize;
    color: #333;
    grid-gap: 10px;
}
.childs_of_the_user_detail_nav{
    height: 90%;
    width: 100%;
    /* background: #333; */
    color: #333;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    /* background:; */
}
.childs_of_the_user_detail_nav:nth-of-type(1){
    border-bottom: 5px solid rgba(51, 51, 51, 0.802);

} 





